<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
	RewriteRule ^assets/(.*) public/assets/$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ app/bootstrap.php [QSA,L]
</IfModule>
